<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Average Temperatures</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Last Three Forecasts' Average Temperatures Per Day</h2>
        {% for city, data in avg_temp_by_city.items() %}
            <h3>{{ city }}</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Average Temperature (from last 3 forecasts)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date, avg_temp in data.items() %}
                            <tr>
                                <td>{{ date }}</td>
                                <td>{{ avg_temp | round(2) }} °C</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</body>
</html>
