<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Weather Forecast Dashboard</h1>
        <div class="list-group">
            <a href="/locations" class="list-group-item list-group-item-action">View Locations</a>
            <a href="/forecasts" class="list-group-item list-group-item-action">View All Forecasts</a>
            <a href="/latest_forecasts" class="list-group-item list-group-item-action">View Latest Forecasts</a>
            <a href="/average_temperatures" class="list-group-item list-group-item-action">View Average Temperatures</a>
            <a href="/top_locations/temperature/" class="list-group-item list-group-item-action">Top Locations by Temperature</a>
            <a href="/top_locations/precipitation/" class="list-group-item list-group-item-action">Top Locations by Precipitation</a>
            <a href="/top_locations/wind_speed/" class="list-group-item list-group-item-action">Top Locations by Wind Speed</a>            
        </div>
    </div>
</body>
</html>
